body {
  margin: 0px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  background-color: #763626;
}
.journalbox {
  padding: 10px;
  border: 1px solid grey;
  margin-top: 2px;
  border-radius: 5px;
  white-space: pre-line;
  box-shadow: 5px 5px #888888;
  min-height: 100px;
  background-color: #2a3132;
  color: white;
}
